{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="docs-header">
  <div class="container">
    <h1>Eiji Bandou Checker</h1>      
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{template "flash.html" .}}
      <h2>{{.greeting}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form action="/App/Judge" method="GET" class="form-inline">
        <input type="submit" value="Judge" class="btn btn-default"/>
      </form>
    </div>
    <div class="col-md-6">
      <form action="/App/Hello" method="GET" class="form-inline">
        <div class="form-group">
          <label for="myName">Your name</label>
          <input type="text" name="myName" class="form-control" id="myName"/><br/>
        </div>
        <input type="submit" value="Say hello!" class="btn btn-default"/>
      </form>
    </div>
  </div>
</div>


{{template "footer.html" .}}
